/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Inknut+Antiqua&display=swap');

/*
font-family: 'Inknut Antiqua', serif;
font-family: 'IBM Plex Mono', monospace;
*/

body {
    font-family: 'IBM Plex Mono', monospace;
}

h1, h2, .skills-list {
    font-family: 'Inknut Antiqua', serif;
}

/* image will take max width of it's container */
img {
    max-width: 100%;
}

.profile-pic {
    width: 300px;
}

nav {
    background: #DBEBF4;
    position: fixed;
    z-index: 1;
    width: 100%;
}

nav ul li {
    display: inline-block;
    margin: 0 1em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 0.9em;
}

nav ul {
    text-align: center;
    padding: 2em;
}

header {
    position: relative;
    top: 7em;
    margin-bottom: 20em;
}

h1 {
    font-size: 6em;
    line-height: 120%;
}

ul li {
    list-style: none;
    margin: 0.8em 0;
}

/* button effects */
.button {
    border: 1px solid black;
    border-radius: 2em;
    padding: 0.5em 2em;
    color: black;
    display: inline-block;
    margin: 1em 0;
}
.button:hover {
    text-decoration: none;
    background-color: black;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.button:active {
    background-color: white;
    color: black;
    border: 1px solid black;
}


figcaption {
    font-size: 0.8em;
}