/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Inknut+Antiqua&display=swap');

/*
font-family: 'Inknut Antiqua', serif;
font-family: 'IBM Plex Mono', monospace;
*/

body {
    font-family: 'IBM Plex Mono', monospace;
}

h1, h2, .skills-list {
    font-family: 'Inknut Antiqua', serif;
}

/* image will take max width of it's container */
img {
    max-width: 100%;
}

/* navigation bar styles */
nav {
    background: #DBEBF4;
    position: fixed;
    z-index: 1;
    width: 100%;
}

nav li a {
    text-decoration: none;
    color: black;
}

nav li a:hover {
    text-decoration: none;
    color: white;
    background: black;
    padding: 4px;
    border-radius: 5px;
    transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}

nav li a:active {
    color: black;
    background: none;
}
nav ul li {
    display: inline-block;
    margin: 0 1em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 0.9em;
}


nav ul {
    text-align: center;
    padding: 2em;
}

li.empty {
    width: 100px;
    border-top: 1px solid black;
    margin: 0;
    top: -5px;
    position: relative;
}

/* header styles */
header {
    position: relative;
    top: 100px;
    margin-bottom: 5em;
    background: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -200px;
}

.profile-pic {
    width: 400px;
}

h1 {
    font-size: 100px;
    line-height: 120%;
}

h2 {
    font-size: 30px;
    line-height: 150%;
}

p {
    font-size: 15px;
    line-height: 150%;
}

img {
    width: 500px;
    margin-bottom: 0.5em;
}

ul li {
    list-style: none;
    margin: 0.8em 0;
}

/* projects sections */
.project {
    padding: 1.5em 0.5em;
    margin: 3em 0;
}

/* button effects */
.button {
    border: 1px solid black;
    border-radius: 2em;
    padding: 0.5em 2em;
    color: black;
    display: inline-block;
    margin: 1em 0;
    transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}
.button:hover {
    text-decoration: none;
    background-color: black;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.button:active {
    background-color: white;
    color: black;
    border: 1px solid black;
}


figcaption {
    font-size: 0.8em;
}

.skills-list {
    text-align: center;
    font-size: 2.5em;
    margin: 5em 0 4em;
    line-height: 1em;
}

.project:nth-of-type(2),
.project:nth-of-type(4) {
    background: #DBEBF4;
}



/* footer styles */
footer {
    text-align: center;
    margin: 2em 0 1em;
}

footer p {
    margin: 1em 0;
}

